<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
	   <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
	   <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
						<!--http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">-->
	<!--<bean id="springPropertiesUtil"-->
		<!--class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
		<!--<property name="ignoreResourceNotFound" value="true" />-->
		<!--<property name="ignoreUnresolvablePlaceholders" value="true" />-->
		<!--<property name="fileEncoding" value="UTF-8" />-->
		<!--<property name="locations">-->
			<!--<list>-->
				<!--<value>classpath:config/shiro.properties</value>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->

	<!--<bean id="sampleRealm" class="com.minghao.web.shiro.realm.SampleRealm"></bean>-->
	<!--<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">-->
		<!--<property name="securityManager" ref="securityManager" />-->
		<!--<property name="loginUrl" value="${shiro.loginUrl}" />-->
		<!--<property name="successUrl" value="${shiro.successUrl}" />-->
		<!--<property name="unauthorizedUrl" value="${shiro.unauthorizedUrl}" />-->
		<!--<property name="filters">-->
			<!--<map>-->
				<!--<entry key="userSessions" value-ref="userChangeFilter" />-->
				<!--<entry key="authc">-->
					<!--<bean class="com.minghao.web.shiro.filter.SessionAuthenticationFilter" />-->
				<!--</entry>-->
				<!--&lt;!&ndash;<entry key="roles"> <bean class="cn.unitedtech.security.shiro.filter.AnyOfRolesAuthorizationFilter"></bean> -->
					<!--</entry> &ndash;&gt;-->
			<!--</map>-->
		<!--</property>-->
		<!--<property name="filterChainDefinitionMap" ref="chainDefinitionMapSectionSource" />-->
	<!--</bean>-->


	<!--<bean id="userChangeFilter" class="com.minghao.web.shiro.filter.UserSessionsFilter">-->
		<!--<property name="loginCheckUrl" value="/doLogin" />-->
 		<!--<property name="clearSessionsUrl" -->
 			<!--value="/doModifyPassword,/doModifyMobile2,/activationMail,/doForgetPwd3" />-->
		<!--<property name="loginOutUrl" value="/doLogout" />-->
		<!--<property name="sessionDAO" ref="sessionDAO" />-->
	<!--</bean>-->

	<!--&lt;!&ndash; shrio的filter，在这里可以配置，登录相关的页面，及对那些URL进行权限拦截权限认证 &ndash;&gt;-->
	<!--<bean id="chainDefinitionMapSectionSource"-->
		<!--class="com.minghao.web.shiro.realm.ChainDefinitionMapSectionSource">-->
		<!--<property name="filterChainDefinitions">-->
			<!--<value>-->
				<!--&lt;!&ndash; 登录、注册、上传图片不拦截 &ndash;&gt;-->
				<!--/static/** = anon-->
				<!--/*.txt = anon-->
                <!--/account/syncAccount = anon-->
				<!--/**/login = anon-->
				<!--/**/index = anon-->
				<!--/**/bank = anon-->
				<!--/**/safety = anon-->
				<!--/**/protocal = anon-->
				<!--/ = anon-->
				<!--/**/doLogin = anon-->
				<!--/**/doLogout = anon-->
				<!--/**/doPreRegister = anon-->
				<!--/**/register = anon-->
				<!--/**/isExistPhone = anon-->
				<!--/**/skipVideo = anon-->
				<!--/**/skipActivity_2 = anon-->
                <!--/content/** = anon-->
                <!--/login = anon-->
				<!--/**/doRegister = anon-->
				<!--/**/tianchengcheck = anon-->
				<!--/**/modifytiancheng= anon-->
				<!--/**/registertiancheng= anon-->
				<!--/**/imageVcode = anon-->
				<!--/**/doSendRegisterCode = anon  -->
				<!--/**/doSendResetCode = anon-->
				<!--/**/forgetPwd* = anon-->
				<!--/**/doForgetPwd* = anon-->
				<!--/**/activationMail = anon-->
				<!--/investment/investmentList = anon-->
				<!--/investment/investmentListTest = anon-->
				<!--/investment/twCompany = anon-->
				<!--/investment/toCalculator = anon-->
				<!--/investment/calculator = anon-->
				<!--/investment/*/guaranteeDetail = anon-->
				<!--/investment/*/projectdetail = anon-->
				<!--/investment/*/projectdetail_bid = anon-->

				<!--/investment/searchBidResult/ = anon-->
				<!--/investment/getBidRemainTime = anon-->
				<!--/investment/queryActivityBidDetail=anon-->
				<!--/investment/activity=anon-->
				<!--/borrow/toReserveBorrow = anon-->
				<!--/borrow/addReserveBorrow = anon-->
				<!--/user_suggestion/add = anon-->
				<!--/financial_data/** = anon-->
				<!--/doModifyPassword= authc,userSessions-->
				<!--/doModifyMobile2= authc,userSessions-->
				<!--/activationMail= authc,userSessions-->
				<!--/doForgetPwd3=userSessions-->
				<!--/homePage/statistics = anon-->
				<!--/syn_data/** = anon-->
				<!--/**/contactServicePage = anon-->
				<!--/**/downloadAppPage = anon-->
				<!--/**/downloadapplawyer = anon-->
				<!--/**/toHxJsp = anon  -->
				<!--/referrer/colleage= anon-->
				<!--/account/guidePage= anon-->
				<!--/**/* = authc-->
				<!--/**/safety = anon-->
			<!--</value>-->
		<!--</property>-->
	<!--</bean>-->

	<!--<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">-->
		<!--<property name="sessionManager" ref="sessionManager" />-->
		<!--<property name="realm" ref="sampleRealm" />-->
		<!--&lt;!&ndash; <property name="cacheManager" ref="cacheManager" /> &ndash;&gt;-->
	<!--</bean>-->

	<!--<bean id="sessionManager" class="com.minghao.web.shiro.WebSessionManager">-->
		<!--<property name="excludeSessionTimeUpdate" value="refresh" />-->
		<!--<property name="globalSessionTimeout" value="${shiro.session.interval}" />-->
		<!--<property name="sessionValidationInterval" value="${shiro.session.interval}" />-->
		<!--<property name="sessionValidationSchedulerEnabled" value="true" />-->
		<!--<property name="sessionValidationScheduler" ref="sessionValidationScheduler" />-->
		<!--<property name="sessionDAO" ref="sessionDAO" />-->
		<!--<property name="sessionIdCookie" ref="cookie" />-->
	<!--</bean>-->

	<!--<bean id="sessionValidationScheduler"-->
		<!--class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">-->
		<!--<property name="interval" value="${shiro.session.interval}" />-->
		<!--<property name="sessionManager" ref="sessionManager" />-->
	<!--</bean>-->

	<!--<bean id="sessionDAO" class="com.minghao.web.shiro.UserSessionsCleanupImpl">-->
		<!--<property name="keyPrefix" value="${shiro.sessionDAO.keyPrefix}" />-->
		<!--<property name="redisManager" ref="redisManager" />-->
	<!--</bean>-->

<!--&lt;!&ndash; 	<bean id="redisManager" class="com.minghao.common.redis.RedisManager"> &ndash;&gt;-->
<!--&lt;!&ndash; 		<property name="host" value="${redis.host}" /> &ndash;&gt;-->
<!--&lt;!&ndash; 		<property name="port" value="${redis.port}" /> &ndash;&gt;-->
<!--&lt;!&ndash; 		<property name="expire" value="${redis.data.expire}" /> &ndash;&gt;-->
<!--&lt;!&ndash; 	</bean> &ndash;&gt;-->

	<!--<bean id="cookie" class="org.apache.shiro.web.servlet.SimpleCookie">-->
		<!--<constructor-arg name="name" value="sid" />-->
		<!--<property name="httpOnly" value="true" />-->
		<!--&lt;!&ndash; <property name="secure" value="true"/> &ndash;&gt;-->
		<!--<property name="maxAge" value="-1" />-->
	<!--</bean>-->

	<!--&lt;!&ndash; <bean id="cacheManager" class="cn.unitedtech.shiro.cache.RedisCacheManager"> &ndash;&gt;-->
	<!--&lt;!&ndash; <property name="keyPrefix" value="${security.cacheManager.keyPrefix}" -->
		<!--/> &ndash;&gt;-->
	<!--&lt;!&ndash; </bean> &ndash;&gt;-->

	<!--<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />-->
<!--</beans>-->